---
title: 'Central Axe Throwing'
description: 'Meta description for the page'
preloadImg: '/assets/images/hero-images/pexels-markus-spiske-203553.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Central Axe Throwing</span>
                <h1 class="cs-title">Experience Axe Throwing</h1>
                <p class="cs-text">
                    Beer, Cheers, and a Fun Time
                </p>
                <a href="/about" class="cs-button-solid">Explore More</a>
                <a href="/contact" class="cs-button-transparent">
                    Get in Touch
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/hero-images/pexels-markus-spiske-203553.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/hero-images/pexels-markus-spiske-203553.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/hero-images/pexels-markus-spiske-203553.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    {% include 'components/services.html' %}

    {% include 'components/about.html' %}

    {% include 'components/blog.html' %}

    {% include 'components/reviews.html' %}

    {% include 'components/cta.html' %}
{% endblock %}